<script src="/assets/js/dep/jquery.min.js"></script>

<script src="/assets/js/dep/lottie.min.js"></script>

<!-- SWUP-->
<script src="/assets/js/dep/swup.min.js"></script>
<script src="/assets/js/dep/SwupScrollPlugin.js"></script>
<script src="/assets/js/dep/SwupHeadPlugin.min.js" charset="utf-8"></script>

<!-- SWIPER-->
<script src="/assets/js/dep/swiper.min.js"></script>
<script src="/assets/js/dep/isInViewport.min.js"></script>
<script src="/assets/js/dep/autosize.js"></script>

<script src="/assets/js/main.js"></script>
