.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: "SupremeLLWeb-Light", sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.75px;
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'SupremeLLWeb-Book', sans-serif;
  font-size: 80px;
  line-height: 80px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

h2 {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SupremeLLWeb-Book", sans-serif;
}

p {
  margin-bottom: 0;
}

b, strong {
  font-family: 'SupremeLLWeb-Book', sans-serif;
  font-weight: normal;
}

a {
  display: inline-block;
  font-family: "SupremeLLWeb-Light", sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 26px;
  text-decoration: underline;
}

img {
  width: 100%;
  border: 0 none #000;
}

.module {
  position: relative;
  width: 100%;
}

.module.project-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.module.news-feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #cdcdcd;
}

.module.large-cta {
  display: block;
  background-color: #fff;
  text-decoration: none;
}

.module.dark-mode {
  background-color: #000;
  color: #fff;
}

.module.menu-module {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
  overflow: scroll;
  min-height: 100vh;
  background-color: #fff;
}

.module.light-module {
  min-height: 100vh;
}

.grid-image {
  width: 100%;
  margin-bottom: 1vw;
  padding-bottom: 76%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #eceaea;
}

.vertical-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-template-areas: "Area Area";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom-style: none;
  text-decoration: none;
}

.grid-link.smaller-max {
  max-width: 63vw;
}

.about-img {
  display: block;
}

.left-column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 30vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.left-column.ghost {
  display: none;
}

.horiztonal-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.right-column {
  width: 100%;
  max-width: 60vw;
}

.tab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tab-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab-content.tab-details {
  display: none;
}

.tab-content.tab-text {
  display: block;
}

.tab-content.tab-testimonials {
  display: none;
}

.tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  padding: 0 5px 0 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.tab-link.w--current {
  background-color: transparent;
}

.circle {
  width: 12px;
  height: 12px;
  margin-right: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 20px;
}

.project-image {
  display: block;
  width: 100%;
  max-width: 100%;
  padding-bottom: 66%;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image.portrait {
  max-width: 66%;
  padding-bottom: 100%;
}

.project-image.swiper-slide._2 {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.title-detail {
  display: inline-block;
  text-decoration: underline;
}

.project-header-image {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 100%;
  padding: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: transparent;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
}

a img, a.large-cta h1, .menu-module a, .contact-link, .job-link, .button {transition: opacity .2s ease !important;}

a:hover img, .menu-module a:hover, .contact-link:hover, .large-cta:hover h1, .job-link:hover, .button:hover {
  opacity: 0.7 !important;
}

.form-button {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  background: none;
  cursor: pointer;
}

.grey-background {
  background-color: #cdcdcd;
}

.process-item {
  width: 100%;
}

.header {
  font-family: "SupremeLLWeb-Book", sans-serif;
}

.lightbox-menu,
.menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: top 300ms ease, background-color 300ms ease, opacity 300ms ease;
  transition: top 300ms ease, background-color 300ms ease, opacity 300ms ease;
}

.open-nav {
  transition: all 300ms ease;
}

.menu-link {
  display: inline-block;
  font-family: 'SupremeLLWeb-Book', sans-serif;
  font-weight: 400;
}

.project-grid {
  margin-top: 40px;
  grid-column-gap: 2vw;
  grid-row-gap: 4.5vw;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.header-top {
  display: block;
  padding-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.5fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.intro-animation {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  transition: all 300ms ease;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.active-animation {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none !important;
}

.lottie-animation {
  max-width: 400px;
}

.grid-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact-link, .form-button, .job-link {
  border-bottom: 1px solid black;
  text-decoration: none;
  cursor: pointer;
}

.contact-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 520px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: transparent;
  color: #000;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.project-grid-link {
  text-decoration: none;
}

.menu-top {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 0.5vw;
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.5fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.swiper-container {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.swiper-button-prev {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.swiper-slide {
  background-color: transparent;
}

.news-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 1px solid #000;
}

.close-lightbox,
.menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.menu-button.close-menu, .close-lightbox {
  display: none;
}

.file-input {
  display: none;
}
.menu-button.open-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'SupremeLLWeb-Book', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.logo {
  display: block;
}

.logo-short {
  display: none;
}

.black-back {
  background-color: #000;
  color: #fff;
}

.container {
  position: relative;
  width: 100%;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.team-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 8vw;
  grid-row-gap: 0;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.profile-image {
  padding-bottom: 100%;
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center center;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  color: #6b6b6b;
}

.footer-link {
  margin-left: 30px;
  color: #6b6b6b;
  text-decoration: none;
}

.project-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: background-color .3s ease;
}

.script-hide {
  display: none;
}

.line {
  width: 15px;
  height: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #000;
}

.line-close-1 {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.line-close-2 {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.process-one {
  display: block;
  width: 100%;
  max-width: 63vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.line-divider {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  background-color: #000;
}

.process-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 9vw;
  grid-row-gap: 0;
  -ms-grid-columns: 1fr 0.7fr;
  grid-template-columns: 1fr 0.7fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.process-grid.inverted {
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
}

.input-field {
  height: 100%;
  margin-bottom: 0;
  padding: 0;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
  color: black;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  height: calc(2.25rem + ((1vw - 3.75px) * 0.3065));
  line-height: calc(2.25rem + ((1vw - 3.75px) * 0.3065));
  margin-top: calc(1.5625rem + ((1vw - 3.75px) * 3.0651));
  min-height: 0;
  box-shadow: none !important;
}

.input-field:active {
  border-bottom-color: #000;
}

.input-field:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

::placeholder {
  color: #000;
  opacity: 1;
}

.form {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 1px solid #000;
}

.content.form {
  width: 100%;
  max-width: 60vw;
  margin-right: auto;
  margin-left: auto;
  border-top-style: none;
}

.menu-container {
  z-index: 999;
}

.section {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.lightbox-menu {
  z-index: 99999;
  background-color: white;
}

.form-block {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 60vw;
}

.html-embed {
  display: block;
}

.form-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3vw;
  grid-row-gap: 0;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.caption {
  margin-top: 1vw;
  max-width: 25vw;
}

.row {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 10vw;
  grid-row-gap: 0;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-image-v2 {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
}

.project-image-v2.horizontal.about-img {
  max-width: 65%;
  margin-right: auto;
  margin-left: auto;
}

.project-image-v2.portrait {
  max-width: 66%;
  padding-bottom: 100%;
}

.project-image-v2.portrait img {
  object-fit: cover;
}

.project-image-v2.portrait_grid {
  padding-bottom: 150%;
}

.cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.job-container {
  display: block;
  width: 100%;
  max-width: 65vw;
  margin-right: auto;
  margin-left: auto;
}

.job-paragraph {
  display:-webkit-flex;
display:flex;
-webkit-justify-content:center;
justify-content:center;
}
.job-paragraph > div {
  width: 100%;
}
.job-paragraph > div:first-child {
  padding-right: 0.5em;
}
.job-paragraph > div:nth-child(2) {
  padding-left: 0.5em;
}

li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
  transition: none;
}

.success-message {
  position: fixed;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
}

.error-message {
  position: fixed;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .content.section {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .job-paragraph {
    width: 100%;
  }

  .job-paragraph.right {
    padding-left: 0;
  }

  .job-paragraph.left {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  h2 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    font-size: 16px;
    line-height: 24px;
  }

  .vertical-flex {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-link {
    width: 100%;
    max-width: 100%;
  }

  .job-container {
    max-width: 100%;
  }

  .job-container > div {
    flex-direction: column;
  }

  .about-img {
    max-width: 100% !important;
  }

  .animate {
    max-width: 100%;
  }

  .caption {
    max-width: 100%;
  }

  .left-column {
    width: 100%;
    max-width: 100%;
    -webkit-transition: height 300ms ease, top 300ms ease;
    transition: height 300ms ease, top 300ms ease;
  }

  .left-column.project-column {
    position: relative;
    top: auto;
    width: 100%;
    max-width: 100%;
  }

  .job-paragraph > div:first-child, .job-paragraph > div:nth-child(2) {
    padding: 0em;
  }


  .horiztonal-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .right-column {
    width: 100%;
    max-width: 100%;
  }

  .project-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .header-top {
    -ms-grid-columns: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
  }

  .grid-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .grid-link.smaller-max {
    max-width: 100%;
  }

  .menu-top {
    -ms-grid-columns: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
  }

  .news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .team-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-link {
    margin-right: 30px;
    margin-left: 0;
  }

  .statement {
    max-width: 100%;
  }

  .process-one {
    max-width: 100%;
  }

  .process-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .process-grid.inverted {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .content.section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .content.form {
    max-width: 100%;
  }

  .form-block {
    max-width: 100%;
  }

  .div-block-6 {
    max-width: 100%;
  }

  .row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 479px) {
  .project-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .team-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#contact-button-grid {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#line-divider-grid {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}
@font-face {
  font-family: "SupremeLLWeb-Light";
  src: url("/assets/fonts/SupremeLLWeb-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "SupremeLLWeb-Book";
  src: url("/assets/fonts/SupremeLLWeb-Book.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
