{% assign w = imagesize image:width %}
{% assign h = imagesize image:height %}
{{w}}
{{h}}
<div class="project-image-v2 {% if include.type == 'slide' %}
horizontal swiper-slide
{% else %}
{% if w > h %}
horizontal
{% elsif h > w %}
{% if include.type == 'grid' %}
portrait_grid
{% else %}
portrait
{% endif %}
{% endif %}
{% endif %}">
    <img    class="{% if include.type == 'cover' %}cover{% endif %}" 
            src="{{ include.path }}-/resize/1000x/fallback.jpg"
            srcset="{{ include.path }}-/resize/320x/320.jpg 320w,
                    {{ include.path }}-/resize/450x/450.jpg 450w,
                    {{ include.path }}-/resize/640x/640.jpg 640w,
                    {{ include.path }}-/resize/750x/750.jpg 750w,
                    {{ include.path }}-/resize/800x/800.jpg 800w,
                    {{ include.path }}-/resize/900x/900.jpg 900w,
                    {{ include.path }}-/resize/1000x/-/quality/lighter/1000.jpg 1000w,
                    {{ include.path }}-/resize/1200x/-/quality/lighter/1200.jpg 1200w,
                    {{ include.path }}-/resize/1500x/-/quality/lighter/1500.jpg 1500w,
                    {{ include.path }}-/resize/1600x/-/quality/lighter/1600.jpg 1600w,
                    {{ include.path }}-/resize/2000x/-/quality/lightest/2000.jpg 2000w"
            sizes="(min-width: 1000px) 50vw, 100vw"
            alt="{{ include.alt }}"
            loading=lazy>
</div>
