<div class="menu">
    <a href="/" class="">
        <img class="logotype logo" src="/assets/icons/CLA-Logotype.svg" alt="Caleb Linville Architects">
        <img class="logotype logo-dark" src="/assets/icons/CLA-Logotype-White.svg" alt="Caleb Linville Architects">
        <img class="logo-short" src="/assets/icons/CLA-Logo.svg" alt="CLA">
    </a>
    <a class="menu-button open-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </a>
    <a class="menu-button close-menu">
        <div class="line-close-1"></div>
        <div class="line-close-2"></div>
    </a>
    <a href="/contact" class="menu-button close-lightbox">
        <div class="line-close-1"></div>
        <div class="line-close-2"></div>
    </a>
</div>